@model UserInfo
@{
    ViewBag.Title = "Basvuru Detayi";
}
<main class="text-center">
    <h1 class="h4">Basvuru Detayi</h1>
    <p>Isim : @Model.Name</p>
    <p>Email : @Model.Email</p>
    <p>Telefon : @Model.Phone</p>
    <a asp-controller="Meeting" asp-action="List" class="btn btn-outline ">Katilimci Listesi</a>
</main>