@model UserInfo
@{
    ViewBag.Title = "Basvuru Durumu";
    Layout = "_Layout2";
}
<main>
    <h1 class="h4">Basvuru Durumu</h1>
    @if(Model.WillAttend == true)
    {
         <p>Tesekkurler @Model.Name  Toplantiya sizinle birlikte @ViewBag.UserCount kisi katiliyor</p>
    <a class="btn btn-sm btn-outline-primary" href="/meeting/list">Katilimcilari listele</a>

    }else
    {
        <p>@Model.Name, katilmadigindan dolayi uzgunuz.</p>
        <a class="btn btn-sm btn-outline-primary" href="/meeting/apply">Basvuru Formu</a>
    }
   
</main>
